<div class="box">
    <div class="row">
        <div class="col-md-5">
            <img src="{{data.image}}" alt="">
        </div>
        <div class="col-md-7">
            <div class="info">
                <ul class="list-unstyled">
                     <li><strong>Title:</strong>{{data.title}}</li>
                     <li><strong>category:</strong>{{data.category}}</li>
                     <li><strong>Description:</strong>{{data.description}}</li>
                     <li><strong>Rate:</strong>{{data.rating.rate}}</li>
                     <li><strong>Count:</strong>{{data.rating.count}}</li>
                     <li><strong>price:</strong>{{data.price}} L.E</li>
                </ul>

            </div>
        </div>
    </div>
    <div class="text-center">

        <app-spiner *ngIf="loading"></app-spiner>
    </div>
</div>
